<p>商品名</p>
<p>単価(税込)</p>
<p>数量</p>
<p>小計</p>
<% @cart_items.each do |cart_item| %>
<%= cart_item.item.name %>
<%= cart_item.item.add_tax_price_without_tax %>
<%= cart_item.quantity %>
<%= cart_item.subtotal %>
<% @total +=  cart_item.subtotal %>
<% end %>
<%= @total %>