
<%= image_tag @item.image, size: "200x200" %>
商品名：<%= @item.name %>
¥<%= @item.add_tax_price_without_tax %>
<p>商品説明：<%= @item.explanation %></p>
<%= form_with model: @cart_item do |f| %>
<%= f.hidden_field :item_id, :value => @item.id %>
<%= f.select :quantity, *[1..10] %>
<%= f.submit 'カートに入れる' %>
<% end %>
